@page
@model MiniCinema.Pages.Movies.Listing
@{
    ViewData["Title"] = "Home page";
}

<div class="container my-3">
    <h1>Now Showing</h1>

    <div class="row">
        @foreach (var item in Model.Movies)
        {
            <div class="col">
                <div class="card gx-5">
                    <img src="@item.ImageURL" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ReleaseDate)</p>
                        <a 
                            asp-page="/Movies/Showtime"
                            asp-route-movie_id="@item.MovieId"
                            class="btn btn-primary"
                        >Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>