@page
@model MiniCinema.Pages.menu.menuModel

@{
}

<div class="container mt-3">
    <h1>Menu</h1>

    <h4><a asp-page="/HumanResource/HumanResources/Index">Staff Info</a></h4>
    <p6>To check and manage the Staff info</p6>

    <h4><a asp-page="/HumanResource/Department/Index">Department Info</a></h4>
    <p6>To check and manage the department info</p6>


    <h4><a asp-page="/HumanResource/Branchs/Index">Branch Info</a></h4>
    <p6>To check and manage the branch info</p6>

    <h4><a asp-page="/HumanResource/Leave/Index">Staff Leave Info</a></h4>
    <p6>To check and manage the Staff Leave info</p6>

    <h4><a asp-page="/HumanResource/Res/Index">Staff Resign Info</a></h4>
    <p6>To check and manage the Staff resign info</p6>

    <body style="background-color:#d2ebf7;">
    </body>
</div>
